<%- include ("header"); %>
<h1>About this app</h1>
<div class="about">
  <p>Uses Javscript, EJS, Request, NodeJS, and Express.</p>
  <p>
    I used this project to become more familiar with Request, ES6 Promises,
    Arrow Functions, and Async Await.
  </p>
</div>
<%- include ("footer"); %>
