<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Todo List</title>
    <link rel="stylesheet" href="../styles/styles.css">
  </head>
  <body>
    <h1 id="heading">It's <%=day%></h1>
    <h2>What are your priorities today?</h2>
    <form method="POST" action="/">
      <input
        type="text"
        name="addInput"
        placeholder="Add a priority"
        autofocus
      />
      <button type="submit" name="btn">Add</button>
    </form>
    <ul id="list">
      <% for(i=0; i<newItem.length; i++){ %>
      <li><%= newItem[i] %></li>
     <% } %>
    </ul>
  </body>
</html>
